# Django
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Database (default sqlite)
DATABASE_URL=sqlite:///db.sqlite3

# Gmail SMTP for OTP emails
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_TIMEOUT=10
EMAIL_HOST_USER=kasak.ljku@gmail.com
EMAIL_HOST_PASSWORD=rzofrstowgpgjxxh
DEFAULT_FROM_EMAIL=kasak.ljku@gmail.com
